.list_of_works {
  @media screen and (max-width: 767px) {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
  @media (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  padding-top: 94px;
  padding-bottom: 94px;
}

.list_of_works__container {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 768px;
  }
  @media screen and(min-width: 1200px) {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.list_of_wor_names {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  margin-top: 0px;
}

.list_of_wor_names_descrip {
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--lower-text-color);
  margin: 0px;
}

.lis_buttons_each {
  font-family: inherit;
  width: 73px;
  height: 38px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  border: none;
  cursor: pointer;
  padding: 0;
  margin-right: 8px;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--tagline-text-color);
    background-color: var(--subsidiary-color);
    box-shadow: 0px 4px 4px 0px #00000040;
  }
}

.lis_buttons_each_sites {
  font-family: inherit;
  width: 128px;
  height: 38px;
  list-style: none;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  border: none;
  padding: 0;
  margin-right: 8px;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    font-family: inherit;
    color: var(--tagline-text-color);
    background-color: var(--subsidiary-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    box-shadow: 0px 4px 4px 0px #00000040;
  }
}

.lis_buttons_each_apps {
  @media (max-width: 767px) {
    margin-top: 0px;
  }

  font-family: inherit;
  width: 145px;
  height: 38px;
  list-style: none;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  border: none;
  padding: 0;
  margin-right: 8px;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    font-family: inherit;
    color: var(--tagline-text-color);
    background-color: var(--subsidiary-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    box-shadow: 0px 4px 4px 0px #00000040;
  }
}

.lis_buttons_each_design {
  @media (max-width: 767px) {
    margin-top: 15px;
  }

  font-family: inherit;
  width: 103px;
  height: 38px;
  list-style: none;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  border: none;
  padding: 0;
  margin-right: 8px;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    font-family: inherit;
    color: var(--tagline-text-color);
    background-color: var(--subsidiary-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    box-shadow: 0px 4px 4px 0px #00000040;
  }
}

.lis_buttons_each_market {
  @media (max-width: 767px) {
    margin-top: 15px;
  }

  font-family: inherit;
  width: 130px;
  height: 38px;
  list-style: none;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  border: none;
  padding: 0;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    font-family: inherit;
    color: var(--tagline-text-color);
    background-color: var(--subsidiary-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    box-shadow: 0px 4px 4px 0px #00000040;
  }
}

.lis_buttons {
  @media (max-width: 767px) {
    width: 480px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 0px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 40px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 768px;
    margin-bottom: 30px;
  }

  text-align: center;
  list-style: none;
  margin-bottom: 50px;
  margin-top: 0px;
  padding-left: 0px;
  box-sizing: border-box;
  align-items: center;
  display: flex;
  justify-content: center;
}

.lis_of_works {
  @media (max-width: 767px) {
    width: 100%;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 15px;
    padding-right: 15px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 768px;
    margin: 0;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  @media (min-width: 1200px) {
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
    justify-content: space-between;
  }
  list-style: none;
  padding: 0;
}
.lis_of_work_li {
  @media (max-width: 767px) {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
    &:hover {
      box-shadow: 0px 4px 4px 0px #00000040;
    }

    &:hover .lis_of_work_text {
      transform: translateY(0%);
      opacity: 1;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    position: relative;
    width: 354px;
    margin-bottom: 30px;
    cursor: pointer;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      box-shadow: 0px 4px 4px 0px #00000040;
    }

    &:hover .lis_of_work_text {
      transform: translateY(0%);
      opacity: 1;
    }
    &:last-child {
      margin-bottom: 0;
    }
    &:nth-child(1) {
      margin-bottom: 30px;
    }
    &:nth-child(2) {
      margin-bottom: 30px;
    }
    &:nth-child(even) {
      margin-left: 30px;
    }
  }

  @media (min-width: 1200px) {
    position: relative;
    height: 404px;
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
    cursor: pointer;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      box-shadow: 0px 4px 4px 0px #00000040;
    }

    &:hover .lis_of_work_text {
      transform: translateY(0%);
      opacity: 1;
    }

    &:nth-child(3n) {
      margin-right: 0px;
    }

    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
  }
}

.lis_of_work_text {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 63px 25px;
  top: 0;
  left: 0;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    transform: translateY(0%);
    opacity: 1;
  }
}

.lis_of_work_li_img {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list_of_works_class {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    height: 110px;
  }
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding-left: 24px;
  padding-right: 24px;
  z-index: 3555;
}

.list_of_works_class_only_tablet {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    height: 146px;
  }
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding-left: 24px;
  padding-right: 24px;
  z-index: 3555;
}
